<div id="<%= dom_id seat %>">
  <p>
    <strong>Seat no:</strong>
    <%= seat.seat_no %>
  </p>

  <p>
    <strong>Booked:</strong>
    <%= seat.booked %>
  </p>

  <p>
    <strong>Show:</strong>
    <%= seat.show_id %>
  </p>

</div>
